name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Get Short SHA
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
    
    # - name: Docker meta
    #   id: meta
    #   uses: docker/metadata-action@v4
    #   with:
    #     images: khushalmer/myimg
    
    - name: Get Epoch
      id: epoch
      run: echo "epoch=$(date +%s)">> $GITHUB_OUTPUT

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: khushalmer/myimg:develop-${{ steps.vars.outputs.sha_short }}-${{ steps.epoch.outputs.epoch }}
        with:
          ssh: |
            default=${{ env.SSH_AUTH_SOCK }}
